<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">Conheça Garanhuns</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Floral_clock_-_Garanhuns%2C_Pernambuco%2C_Brazil.jpg/1280px-Floral_clock_-_Garanhuns%2C_Pernambuco%2C_Brazil.jpg">
      </ion-img>
      <ion-card-title class="ion-text-center">Suíca Pernambucana</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      Garanhuns é uma cidade do estado brasileiro de Pernambuco. Localizada no Planalto da Borborema,
      a cidade é conhecida como a "Suíça Pernambucana" devido à sua altitude e clima relativamente frio.
      Também é conhecida como "Cidade das Flores" ou "Cidade da Garoa".
    </ion-card-content>

  </ion-card>


  <ion-card>
    <ion-item href="https://www.vinicolavaledascolinas.com/inicio">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Vinícola Vale das Colinas</ion-label>

    </ion-item>

    <ion-item href="https://www.facebook.com/fazendalagosaofrancisco/">
      <ion-icon name="image-outline" slot="start"></ion-icon>
      <ion-label>Lago São Franciso</ion-label>
    </ion-item>

    <ion-item href="https://m.facebook.com/Santu%C3%A1rio-M%C3%A3e-Rainha-GaranhunsPE-852442051765525/">
      <ion-icon name="home-outline" slot="start"></ion-icon>
      <ion-label>Santuário Mãe Rainha</ion-label>
    </ion-item>

    <ion-item href="https://polilac.com.br/">
      <ion-icon name="home-outline" slot="start"></ion-icon>
      <ion-label>Polilac</ion-label>
    </ion-item>
  </ion-card>

</ion-content>